* {
	--primary: purple;
	--secondary: orange;
	--hover: orange;
	--background: linen;
	--main-font: 'Quicksand';
	--main-font-color: #666766;
	--main-font-size: 22px;
	--notes-border: black;
	--notes-background: linen;

	margin: 0px;
	padding: 0px;
	font-family: var(--main-font, serif);
	color: var(--main-font-color, black);
	font-size: var(--main-font-size, 20px);
}
html {
	/* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
	margin-left: calc(100vw - 100%);
}
body {
	background: var(--background);
}
hr {
	border-top: 3px solid var(--primary, black);
	margin: 15px 0;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: var(--secondary, black);
}

a:hover {
	color: var(--secondary, black);
	text-decoration: underline;
}
input {
	font-size: var(--main-font-size, 20px);
	padding: 5px 10px;
	border: 2px solid var(--primary, black);
}
p {
	font-size: 22px;
	/* font-weight: bold; */
	margin-bottom: 10px;
}

button {
	margin: 5px;
	width: 250px;
	font-size: 18px;
	background-color: var(--primary, black);
	color: white;
	padding: 5px 10px;
	outline: var(--primary, black);
	border-radius: 5px;
	cursor: pointer;
}
button:hover {
	color: var(--hover, white);
	outline: var(--primary, black);
}
li {
	list-style: none;
	margin-left: 30px;
	color: var(--primary, black);
	font-size: 22px;
	font-weight: bold;
}
main {
	margin: 20px auto;
	max-width: 1000px;
}

footer {
	margin-top: 30px;
	background: var(--primary, black);
	text-align: center;
	color: white;
	padding: 20px 0;
}
div.explanation h1 {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.component,
#component {
	border: 3px solid green;
	background: white;
	border-radius: 5px;
	min-height: 100px;
	padding: 20px;
	font-size: 20px;
	margin: 20px 0;
}
.header {
	padding: 5px;
	text-align: center;
}

.notes {
	border: 2px solid var(--notes-border, black);
	background: var(--notes-background, white);
	border-radius: 5px;
	min-height: 100px;
	padding: 20px;
	color: var(--notes-font-color, black);
	font-size: 20px;
	margin-top: 20px;
}
.spacer {
	height: 20px;
}
